body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10;
    padding: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .login {
    height: 300px;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease;
  }
  
  
  .login h2 {
    text-align: center;
    margin-bottom: 25px;
      shadow: none;
  }
  
  .login input[type="text"],
  .login input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3190f5;
    color: #fff;
    cursor: pointer;
  }
  
  .login input[type="submit"]:hover {
    background-color: #18d862;
  }
  
